.productContainer {
  width: 35vw;
  font-size: 1.3rem;
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  text-indent: 3px;
  text-align: left;
}

.form input {
  letter-spacing: 2px;
  word-spacing: 4px;
  text-transform: uppercase;
}

.submitBtn {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.para {
  font-size: 18px;
  text-indent: 35px;
}
